<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/customer.css">
    <title>payment</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"
        style="position: fixed;z-index: 1000; top: 0;width: 100%;">
        <a class="navbar-brand" href="/">BodaBoda-banja</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"></li>
                <a class="nav-link" href="/" style="color: #fff;">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" style="color: #fff;">Admin</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/saleslist" style="color: #fff;">View Sales Representatives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customerlist" style="color: #fff;">View Customers</a>
                </li>
            </ul>
        </div>
    </nav><br>

    <h4 style="margin-top: 30px;">Your Amount has successfully been submitted</h4>
    <button class="btn btn-primary" style="border-radius: 3px;height: 35px;color: #fff;"> <a href="/customerlist" style="color: #fff;">Back to Customer List</a> </button>

    <body>

    </body>

</html>